@media (max-width: 575px) {

    html,
    body {
        overflow-x: hidden;
    }

    header {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    header img {
        height: 30px;
        margin-right: 105px;
    }

    header button {
        font-weight: 600;
        padding: 10px 22px;
    }

    .background {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0;
    }

    .left-side {
        /* background-color: #f6f4fb; */
        width: 100%;
        max-width: 100%;
        margin-left: 30px;

    }

    .left-side .l-img,
    h1 {
        padding: 0 74px;
    }

    .left-side .bg-p {
        display: none;
    }

    .stats-box {
        gap: 10px;
        background-color: #2b303c;
        display: flex;
        flex-direction: row;
        gap: 16px;
        border-radius: 12px;
        margin-top: 40px;
        margin-bottom: 30px;
        padding: 10px;
        width: max-content;
        margin-left: 19px;
    }

    .right-side {

        /* margin-right: 0;
        margin-top: 0;
        width: 100%;
        max-width: 100%; */

        width: 80%;
        max-width: 80%;
        margin: 20px auto;
        /* center it */
        padding: 16px;
        /* smaller padding */
        border-radius: 12px;
        box-sizing: border-box;
        /* prevents overflow */

    }

    .feature {
        padding: 4px 51px;
    }

    .curriculum-btn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 13px;

    }

    .curriculum-btn #btn1 {
        padding: 12px 4px;
    }

    .hike-section-cart {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .hike-h2 h2 {
        width: 100%;
        text-align: center;
        line-height: 1.3;
    }

    #non {
        display: none;
    }

    .course-sec {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .left-course-sec {

        /* position: relative;
        top: 0;

        left: 0;
        padding: 0 20px;
        margin-right: 0; */

        width: 100%;
        max-width: max-content;
        margin: 0 auto;
        text-align: center;
        top: 0px;
        /* adjust as you like */

    }

    .placement-grid {
        width: 150%;
        display: flex;
        flex-direction: column;
        margin-left: -84px;
    }

    .placement-section h1 {
        padding: 0 37px;
    }

    .benefit-card {
        width: 53%;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
        padding: 14px;
        text-align: center;
        color: black;
        transition: transform 0.2s ease;
        align-items: center;
        margin-left: 112px;
    }

    .facilities-grid-1 {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 60px;
        flex-direction: column;
        width: 69%;
        margin-left: 90px;
    }

    .facilities-grid-2 {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 60px;
        flex-direction: column;
        width: 69%;
        margin-left: 90px;
    }


}


@media (min-width: 576px) and (max-width: 767px) {



    html,
    body {
        overflow-x: hidden;
    }

    header {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    header img {
        height: 30px;
        margin-right: 105px;
    }

    header button {
        font-weight: 600;
        padding: 10px 22px;
    }

    .background {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0;
    }

    .left-side {
        /* background-color: #f6f4fb; */
        width: 100%;
        max-width: 100%;
        margin-left: 30px;

    }

    .left-side .l-img,
    h1 {
        padding: 0 74px;
    }

    .left-side .bg-p {
        display: none;
    }

    .stats-box {
        gap: 10px;
        background-color: #2b303c;
        display: flex;
        flex-direction: row;
        gap: 16px;
        border-radius: 12px;
        margin-top: 40px;
        margin-bottom: 30px;
        padding: 10px;
        width: max-content;
        margin-left: 19px;
    }

    .right-side {

        /* margin-right: 0;
        margin-top: 0;
        width: 100%;
        max-width: 100%; */

        width: 80%;
        max-width: 80%;
        margin: 20px auto;
        /* center it */
        padding: 16px;
        /* smaller padding */
        border-radius: 12px;
        box-sizing: border-box;
        /* prevents overflow */

    }

    .feature {
        padding: 4px 51px;
    }

    .curriculum-btn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 13px;

    }

    .curriculum-btn #btn1 {
        padding: 12px 4px;
    }

    .hike-section-cart {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .hike-h2 h2 {
        width: 100%;
        text-align: center;
        line-height: 1.3;
    }

    #non {
        display: none;
    }

    .course-sec {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .left-course-sec {

        /* position: relative;
        top: 0;

        left: 0;
        padding: 0 20px;
        margin-right: 0; */

        width: 100%;
        max-width: max-content;
        margin: 0 auto;
        text-align: center;
        top: 0px;
        /* adjust as you like */

    }

    .placement-grid {
        width: 150%;
        display: flex;
        flex-direction: column;
        margin-left: -84px;
    }

    .placement-section h1 {
        padding: 0 37px;
    }

    .benefit-card {
        width: 53%;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
        padding: 14px;
        text-align: center;
        color: black;
        transition: transform 0.2s ease;
        align-items: center;
        margin-left: 112px;
    }

    .facilities-grid-1 {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 60px;
        flex-direction: column;
        width: 69%;
        margin-left: 90px;
    }

    .facilities-grid-2 {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 60px;
        flex-direction: column;
        width: 69%;
        margin-left: 90px;
    }


}